@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   font-family: "Cardo", serif;
   background-color: #F6F6F7;
}

.wrapper{
  max-width: 1170px;
  margin: 0 auto;
}

img{
  max-width: 100%;
}
.logo{
 width: 70px;
}
/* Header area styling */
header{
  padding-top: 20px;
}

.header-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.openbtn{
  display: none;
}


.sidebar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
  transition: 0.3;
}
.sidebar a:hover{
  color: #f1f1f1;
}


.sidebar .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn{
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
 
}
.openbtn:hover{
  background-color: #444;
}
nav ul{
  display: flex;
  gap: 15px;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  color: #202B38;
   font-family: "Cardo", serif;
   font-weight: 700;
}
nav ul li a:hover{
  color: rgb(26, 94, 255);
}
button{
  padding: 10px 15px;
  background: #1A5EFF;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
/* Hero area styling */
.hero-area h1{
  text-align: center;
  margin-top: 60px;
  color: rgb(32, 43, 56);
  font-size: 80px;
  line-height: 72px;
  font-weight: 700;
  font-family: "Cardo", serif;
}
span{
  color: rgb(26, 94, 255);
}
.hero-area h4{
   text-align: center;
   color: rgb(65, 66, 68);
   font-size: 18px;
   line-height: 27px;
font-family: "Cardo", serif;
font-weight: 400;
margin-top: 10px;
}
.btn-2{
  text-align: center;
  margin-top: 15px;
}
  /* Client Area style  */

.client-section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
 
}
.client-img{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.client-img-person img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.happy-client h3{
color: rgb(32, 43, 56);
font-size: 18px;
line-height: 27px;
font-weight: 700;
  font-family: "Cardo", serif;
}
.happy-client h3:hover{
  color: 
rgb(26, 94, 255);
}
.happy-client p{
  color: rgb(32, 43, 56);
font-size: 16px;
line-height: 18px;
font-weight: 400;
  font-family: "Cardo", serif;
}
iframe{
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}


 /* Service Arer Styling */

.service-info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  margin-top: 30px;
}
.service-section{
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
padding: 10px 12px;

}

.service-area h2{
 width: 100px;
  background: #FFFFFF;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
   justify-content: center; 
margin-top: 40px;
color: #1A5EFF;
}

.service-area h1{
  text-align: center;
  font-size: 55px;
  line-height: 50px;
  font-weight: 700;
  font-family: "Cardo", serif;
}
svg{
  width: 40px;
}
a{
  text-decoration: none;
  color:rgb(26, 94, 255) ;
    font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.service-section i{
  color:rgb(26, 94, 255) ;
  font-size: 25px;
  margin-top: 5px;
  background: #E3E7FF;
  border-radius: 100%;
  
}
.iconic{
  display: flex;
  align-items: center;
}
.service-section h3{
  font-size: 25px;
  line-height: 28px;
 color: rgb(32, 43, 56);
 font-weight: 700;
   font-family: "Cardo", serif;
}
.service-section p{
  font-size: 16px;
  line-height: 24px;
 color: rgb(65, 66, 68);
 font-weight: 400;
   font-family: "Cardo", serif;
}

.automation-area{
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}
.automation-info h6, .ai-info h6{
   width: 140px;
  background: #FFFFFF;
  padding: 10px 15px;
  border-radius: 10px;
display: inline-block;
  display: flex;
   justify-content: center; 
margin-top: 40px;
color: #1A5EFF;
color: rgb(26, 94, 255);
font-size: 16px;
line-height: 14px;
font-weight: 700;
   font-family: "Cardo", serif;
}
.automation-info h2{
  margin-top: 20px;
  color:rgb(32, 43, 56);
  font-size:55px;
  line-height: 50px;
  font-weight: 700;
   font-family: "Cardo", serif;
}
.automation-info h4{
  margin-top: 20px;
  color:rgb(65, 66, 68);
  font-size:18px;
  line-height: 27px;
  font-weight: 400;
   font-family: "Cardo", serif;
   margin-top: 20px;
}
.automation-info p{
  margin-top: 20px;
  color:rgb(32, 39, 56);
  font-size:18px;
  line-height: 27px;
  font-weight: 500;
   font-family: "Cardo", serif;
 
}
.btn-4{
  margin-top: 20px;
}

.ai-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  margin-top: 30px;
  /* align-items: center;
  justify-content: center; */
}
/* .ai-img img{
  width:400px;
} */

.ai-info h3{
color:rgb(32, 43, 56);
font-size:55px;
  line-height: 50px;
  font-weight: 700;
   font-family: "Cardo", serif;
margin-top: 15px;
}
.ai-sec-div{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: left;
  border: 1px solid #fff;
  background: #F6F6F7;
  padding: 10px;
  margin-top: 20px;
}
.ai-menu i{
  background: white;
  font-size: 25px;
  padding: 10px;
}
.ai-info h4{
  color:black;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Cardo", serif;
  margin-top: 10px;
}
.ai-arrow i{
  border: 1px solid #000;
  border-radius: 100%;
  font-size: 18px;
}
.ai-info h2{
  font-family: "Cardo", serif;
color:rgb(65, 66, 68);
  line-height: 27px;
  font-size: 18px;
  margin-top: 15px;
}
.james-ceo{
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 25px;
}
.james-img img{
  width: 40px;
  height:40px;
  border-radius: 100%;
  object-fit: cover;
}
.james-info h4{
  color:rgb(32, 39, 56);
  line-height: 27px;
  font-size: 18px;
  font-family: "Cardo", serif;
  font-weight: 500;
}
.james-info h5{
  color:rgb(65, 65, 68);
  line-height: 24px;
  font-size: 16px;
  font-family: "Cardo", serif;
  font-weight: 400;
}
.testimonial-area h6{
  width: 140px;
  background: #FFFFFF;
  padding: 10px 15px;
  border-radius: 10px;
display: block;
margin: 0 auto;
margin-top: 40px;
color: #1A5EFF;
color: rgb(26, 94, 255);
font-size: 16px;
line-height: 14px;
font-weight: 700;
   font-family: "Cardo", serif;
   text-transform: uppercase;
}
.testimonial-area h2{
  Color:rgb(32, 43, 56);
font-size:55px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 3rem;
}

.slide-track {
    display: flex;
    animation: scroll 20s linear infinite;  
    gap: 20px;   
}

.slide {
    width: 250px;
    flex-shrink: 0;
    height: 250px;
    margin-right: 10px;
    padding: 10px;
}
 /* .slide img {
    width: 50px;
    height: 50px;
    object-fit: cover;
} */
 .slide{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
padding: 10px 12px;
padding: 20px 10px;
align-items: center;
justify-content: center;
 }

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 4)); } 
}


.radio-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.info {
  text-align: center;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-top: 40px;
  padding: 20px;
  border-radius: 8px;
  
}
.price{
    background: #1A5EFF;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px;
  
}
.month{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.per-month{
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
   padding: 10px 15px;
}
.month p{
  margin-top: 10px;
}
label{
  font-size: 25px;
}
.container h2{
  font-size:55px;
  line-height: 50px;
  font-weight: 700;
   font-family: "Cardo", serif;
margin-top: 15px;
}
.test-area{
  background-color: #202B38;
  padding: 20px 40px;
  text-align: center;
}
.test-area h3, .test-area h1 , .test-area h5{
  color: white;
  margin-top: 10px;
}
.test-btn{
  margin-top: 10px;
}
.test-img {
  width: 70px;
  margin-top: 50px;
}
.test-area h5{
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-family: "Cardo", serif;
}
.social i{
  font-size: 20px;
  color: black;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 100%;
  background: white;
}
.test-info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.links{
  display: flex;
  align-items: center;
  gap: 10px;
}

.copyright-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
margin-top: 40px;
}

.copyright-area h4{
color:rgb(65, 66, 68);
font-weight: 400;
font-size: 18px;
}

/* Responsive css */

@media (max-width:1160px) {
  main{
    padding: 0 15px;
  }
.wrapper{
  padding:0  20px;
}
}
@media (max-width:890px){
  .hero-area h1{
    font-size: 50px;
    line-height: 60px;
  }
  .service-area h1{
     font-size: 50px;
    line-height: 60px;
  }
  .automation-info h2{
     font-size: 50px;
    line-height: 60px;
  }
  .ai-info h3{
    font-size: 40px;
    line-height: 60px;
  }
  .testimonial-area h2{
    font-size: 40px;
    line-height: 50px;
  }
  .container h2{
    font-size: 40px;
    line-height: 50px;
  }
  .test-info{
       grid-template-columns: repeat(1,1fr);
  }
  .social{
    margin-top: 20px;
  }
  iframe{
    width: 95%;
    padding: 0 20px;
  }
} 

@media (max-width:830px){
  .automation-info h2{
     font-size: 40px;
    line-height: 60px;
  }
}
@media (max-width:750px){
  .ai-section{
    grid-template-columns: repeat(1,1fr);
  }
  .ai-info h3{
    text-align: center;
  }
  .ai-info h6{
    margin: 0 auto;
  }
  .ai-img{
    width: 90%;
     margin: 0 auto;
  }
  .james-ceo{
    justify-content: center;
  }
  .automation-area{
  grid-template-columns: repeat(1,1fr);
  }
  .automation-info{
    text-align: center;
  }
  .automation-info h6{
    margin: 0 auto;
  }
  .automation-img{
    width: 90%;
    margin: 0 auto;
  }
  .links a{
    margin:0 auto;
    display: block;
    gap: 20px;
  }
  .ai-sec-div{
    text-align: center;
  }
  .container {
    text-align: center;
  }
}

@media (max-width:650px){
  .header-area{
    flex-direction: column;
   
  }
  .btn{
 margin-top: 15px;
  }
  .service-area h1{
    font-size: 35px;
  }
  .container h2{
    font-size: 35px;
  }
  .hero-area h1{
    font-size: 35px;
  }
  .test-area h1{
    font-size: 25px;
  }
}
@media (max-width:550px){
  .hero-area h1{
    font-size: 30px;
  }
  .btn{
    display: none;
  }
  .service-area h2, .automation-info h2, .ai-info h6, .container h2,.testimonial-area h2, .ai-info h3, .test-area h1{
    font-size: 25px;
  }
  .month{
    flex-direction: column;
  }
  .test-area{
    width: 90%;
  }
  .service-info{
    grid-template-columns: repeat(1,1fr);
  }
  .service-section{
    text-align: center;
  }
  svg{
    width: 25px;
  }
  .ai-info h6{
    line-height: 40px;
  }
  .copyright-area{
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width:420px){
  .openbtn{
  display: block;
}
nav{
  display: none;
}
  .logo{
    display: none;
  }
  button{
    display: none;
  }
  .test-btn{
    display: none;
  }
  .per-month h1{
    font-size: 20px;
  }
  .ai-info h6{
    font-size: 20px;
    line-height: 20px;
    display: block;
  }
}

